/* Основные сбросы и общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

:root {
  --color1: #c5c2c5;
  --color2: #635e61;
  --akcent-color: #000083;
}

.up-window  {
    background-color: var(--color1);
    height: 20vh;
    border-bottom: var(--akcent-color) 20px solid;

    display: flex;
    align-items: flex-end;
    padding: 30px;   
}

.main-window {
    background-color: #ffffff;
    height: 77vh;
    overflow: visible;
}

.down-window {
    background-color: var(--color1);
    height: 3vh;
    border-top: var(--color2) 5px solid;

    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 5px;
}

.down-window > div {
    background-color: var(--color2);
    border-radius: 3px;
}

.switch {
    background-image: url(/img/OFF.bmp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 100px;
    height: 50px;
    align-self: center;
    margin-left: auto;
}

.element-category {
    justify-self: left;
    flex-direction: row;
    
    position: relative;
    display: flex;      
    flex-wrap: wrap;   
    width: 70%;     
    min-height: 50px;
    
    align-items: flex-end; 
}

.element-category > div {
    margin: 5px;
    width: 40px;
    height: 40px;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: 2px 2px 2px var(--color2);
}

.category-menu {
    display: none;
}